@font-face {
    font-family: "Creato Bold";
    src: url("font/CreatoDisplay-ExtraBold.otf");
}
@font-face {
    font-family: "Creato Regular";
    src: url("font/CreatoDisplay-Regular.otf");
}
@font-face {
    font-family: "Akira";
    src: url("font/Akira\ Expanded\ Demo.otf");
}
@font-face {
    font-family: "Creato Thin";
    src: url("font/CreatoDisplay-Thin.otf");
}
@font-face {
    font-family: "Philo";
    src: url("font/Philosopher-Regular.ttf");
}
@font-face {
    font-family: "Cinzel";
    src: url("font/Cinzel-Regular.otf");
}
body{
    margin: 0;
    background-color: rgb(235, 235, 235);
}
#backgroundContainer{
    position: relative;
}
#background{
    position: relative;
    height: 100vh;
    width: 100%;
}
#bgimage{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;    
}
nav{
    position: absolute;;
    padding: 20px;    
    height: 1vh;
    width: 80%;
    background-color: rgba(145, 145, 145, 0.1); 
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    border-radius: 40px;
    align-items: center;
    display: flex;
}
#logo{
    height:30px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    
}
#logotext{
    font-family: "Creato Bold";
    font-size: 20px;
    color: black;
    margin-left: 10px;
}
#rolexLogo{
   height:50px;
   
}
#navLinks{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    gap: 70px;
}
.navbuttons{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#mainTextContainer{
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 20px;
    width: 70%;
    height: 200px;
    top: 20%;
    margin-left: 40px;
}
#mainText{
    font-family: "Creato Regular";
    font-size: 5vh;
    color: black;
}
#mainTextContainer2{
    width: 60%;
}
#maintext2{
    font-family: "Creato Regular";
    font-size: 4vh;
    color: rgb(255, 255, 255);
}
#AboutHeader{
    text-align: center;
    width: 100%;
    position: relative;
}
#abouttext{
    font-family: "Creato Thin";  
}
#aboutcontainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
}
#about1container{
    height: 30vh;
    width: 55vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
#aboutImage1{
    height: 29vh;
}
#abouttextcontainer{
    flex-direction: column;
    display: flex;
}
#abouttextcontainer2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    height: 30vh;
    margin-left: 1vh;
}

#abouttext1{
    font-family: "Creato Thin";   
    margin-top: 0;
    font-size: 5vh;
}
#aboutp1{
    color: rgb(48, 48, 48);
    font-family: "Creato Thin"; 
    margin:0;
    font-size: 2vh;
    text-align: left;
}
#aboutp2{
    color: rgb(48, 48, 48);
    font-family: "Creato Thin"; 
    margin:0;
    margin-bottom: 5vh;
    font-size: 2vh;
    text-align: left;
}
.learnmore{
    color: #125b67;
    font-size: 2vh;
    text-decoration: none;
    margin-top: 10vh;
 
}
#about2container{
    height: 30vh;
    width: 55vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
#abouttextcontainer3{
    height: 30vh;
    margin-left: 1vh;
}
#build{
    font-size: 5vh;
    margin-top: 0;
    font-family: "Creato Thin";   
}
.learnmore2{
    color: #125b67;
    font-size: 2vh;
    text-decoration: none;
}
#about3container{
    height: 30vh;
    width: 55vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
#abouttextcontainer4{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30vh;
    margin-left: 1vh;
}
#kalbo{
    font-size: 5vh;
    margin-top: 0;
    font-family: "Creato Thin";   
}
#aboutp3{
    color: rgb(48, 48, 48);
    font-family: "Creato Thin"; 
    margin-bottom: 15vh;
    margin-top: 0;
    font-size: 2vh;
    text-align: left;
}
.learnmore3{
    color: #125b67;
    font-size: 2vh;
    text-decoration: none;
}
#about4container{
    height: 30vh;
    width: 55vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
#about5container{
    height: 30vh;
    width: 55vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
#LuxuryContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30vh;
    margin-left: 1vh;
}
#aboutp5{
    color: rgb(48, 48, 48);
    font-family: "Creato Thin"; 
    margin-bottom: 6vh;
    margin-top: 0;
    font-size: 2vh;
    text-align: left;   
}
#about6container{
    height: 30vh;
    width: 55vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
#aboutImage6{
    height: 20vh;
    margin-top: 0;
    
}
#aboutImage6Container{
    height: 31vh;
}
#textcontainer6{
    height: 30vh;
    margin-left: 1vh;
}
#aboutp6{
    color: rgb(48, 48, 48);
    font-family: "Creato Thin"; 
    margin-bottom: 8vh;
    margin-top: 0;
    font-size: 2vh;
    text-align: left;  
}
#productheader{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
#productHeader{
    font-family: "Creato Thin";
    font-size: 30px;
    color: black;
}
#productContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
#showcaseContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.showcase{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 200, 200);
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    #mainTextContainer2{
        width: 50%;
    }
    #mainText{
        font-size: 24px;
        margin-bottom: 35px;
    }
    #maintext2{
        font-size: 17px;
    }
    .navbuttons{
        font-size: 17px;
    }
    #navLinks{
        gap: 17px;
    }
    nav{
        padding: 18px;    
        height: 10px;
        margin-left: 5%;
    }
    #rolexLogo{
        height:34px;
    }
    #logotext{
        font-size: 13px;
    }
    #background{
        height: 430px;
        width: 100%;
    }
    #bgimage{
        height: 430px;
        width: 100%;
    }
    .learnmore{
        margin-top: 69px;
    }
    #aboutp2{
    margin-bottom: 13px;
    }
    #aboutp5{
        margin-bottom: 4vh; 
    }
    #aboutp6{
        margin-bottom: 3vh; 
    }
}
